/* основной цвет текста (для р) #434455 */
/* цвет заголовков #2E2F42 */
/* Акцент текста (герой) #FFFFFF */
/* эффект на контактах и навигации #404BBF*/
/* цвет фона страниц #FFFFFF */
/* вторичный 1 (бэкгарунд герой и футер)  #2E2F42 */
/* вторичный 2 (бэкгарунд секция our team) #F4F4FD */
/* Хедер бордер ботом border-bottom: 1px solid #E7E9FC; */

:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color:#404BBF;
    --primary-bacgraund-color: #FFFFFF;
    --hero-backgraund-color: #2E2F42;
    --team-backgraund-color: #F4F4FD;
    --button-text-color: #FFFFFF;
    --hero-text-color: #FFFFFF;
    --button-backgraund-color:#4D5AE5;
    --web-color: #4D5AE5;
    --filter-border: #E7E9FC;
    --filter-color: #4D5AE5;
    --filter-backgraund-color:#F4F4FD;
    --filter-hover-color: #FFFFFF;
    --filter-hover-backgraubd-color: #404BBF;
    --logo-footer-color:#F4F4FD;
    --footer-text-color:#E7E9FC;
    --footer-backgraund-color:#2E2F42;
    --border-button-colorvar#E7E9FC;
    --header-bottom-color:#E7E9FC;
    --border-portfolio-color: #E7E9FC;
}


header {
    border-bottom: 1px solid var(--header-bottom-color);
}

body {
   color: var(--primary-text-color);

   background-color: var(--primary-backgraund-color);
   font-family: Roboto, sans-serif; 
   font-size: 16px;  
   letter-spacing: 0.02em;
   line-height: 1.5;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
    display: inline-block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1128px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
   padding-top: 120px;
   padding-bottom: 120px;
}

.section-portfolio {
    padding-top: 96px;
}

.section-works {
    padding-top: 0;
}

/* .section.no-padding {
    padding-top: 0;
    padding-bottom: 0;
} */

.main-nav,
nav,
address
 {
    display: flex;
    align-items: center;
}

address {
 margin-left: auto;
}

.logo {
    color: var(--web-color);
        
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logostudio {
    color: var(--title-text-color);
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
}

.nav {
    color: var(--title-text-color);
    
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-transform: none;
    padding-top: 24px;
    padding-bottom: 24px;
}

.site-nav .nav {
    display: block;
}

.site-nav {
    display: flex;
    margin-left: 76px;
}

.site-nav .item:not(:last-child) {
    margin-right: 40px;
} 

.nav:hover,
.nav:focus,
.nav:active,
.list-contact:hover,
.list-contact:focus,
.list-contact:active {
    color: var(--accent-color);
}

.list-contact {
    color: var(--primary-text-color);
    
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-transform: none;
}

.contacts {
    font-style: normal;

    display: flex;
}

.contacts .item + .item {
    margin-left: 40px;
}

.button {
    color: var(--button-text-color);
    background-color: var(--button-backgraund-color);

    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-style: inherit;
    font-style: 400;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    min-width: 169px;
}

.button:hover {
    color: var(--button-text-color);
    background-color: var(--accent-color);
}

.button-filter {
    color: var(--filter-color);
    background-color: var(--filter-backgraund-color);
    
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;

    border: 1px solid var(--filter-border);
    border-radius: 4px;
    border-radius: 4px;
    padding: 12px 24px;

    display: flex;
}

.button-filter:hover {
    color: var(--filter-hover-color);
    background-color: var(--filter-hover-backgraubd-color);
}

.hero {
    background-color: var(--hero-backgraund-color);
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title {
    color: var(--hero-text-color);

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;

    margin-top: 0;
    margin-bottom: 48px;
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;

}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.benefits {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
}

.benefits .item{
flex-basis: calc((100% - 72px) /4);
}


/* 
.benefits .item +.item {
    margin-left: 24px;
} */

.servis {
    display: flex;
}

.servis .item +.item {
    margin-left: 24px;
}

.we {
   display: flex;
   flex-wrap: wrap;
   column-gap: 24px;
}

/* .we .item +.item {
    margin-left: 24px;
} */

.we .item {
    text-align: center;
    background-color: var(--primary-bacgraund-color);
    flex-basis: calc((100% - 72px) /4);
}

.we .item-descr {
    padding-top: 32px;
    padding-bottom: 32px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio .item {
    flex-basis: calc((100% - 48px) /3);
}


.portfolio-desrp {
    padding: 32px 0;
    border-bottom: 1px solid var(--border-portfolio-color);
    border-left: 1px solid var(--border-portfolio-color);
    border-right: 1px solid var(--border-portfolio-color);
    padding-top: 32px;
    padding-left: 16px;
}

/* .portfolio .item.item:nth-child(3n) {

} */

.section-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    text-align: center;

    margin-top: 0;
    margin-bottom: 72px;
}

.section-subtitle {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 8px;
}

.section-text {
    margin-top: 0;
    margin-bottom: 0;
}

.team {
   background-color: var(--team-backgraund-color);
}

.team-title {
    color: var(--title-text-color);
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 72px;
}

.team-subtitle {
     color: var(--title-text-color);

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 8px;
}

.team-text {
    margin: 0;
}

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.filters .filtr:not(:last-child) {
    margin-right: 24px;
}

.section-subtitle-link {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 8px;
}

.section-text-link {
    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 0;
}

.footer {
    background-color: var(--footer-backgraund-color);
    padding: 100px 0;

}

.footer a {
    margin-bottom: 16px;
}

.footer .logo-deskr{
    width: 264px;
}

.footer-text {
    color: var(--footer-text-color);
    margin: 0;
}

.logo-footer {
    color: var(--logo-footer-color);
    
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

